BNG_URI_FORMAT="-sandbox"
BNG_CLIENT_ID="PSDNL-AUT-SANDBOX"
BNG_KEYID_FDN=keyId="SN=00E8B54055D929413F, CA=CN=xs2a_sandbox_bngbank_client_signing, E=klantenservice@bngbank.nl, O=BNG Bank, OU=API XS2A Sandbox, C=NL, S=South-Holland, L=The Hague, OID.2.5.4.97=PSDNL-AUT-SANDBOX"
BNG_TLS_CER=auth/xs2a_sandbox_bngbank_client_tls.cer
BNG_TLS_KEY=auth/xs2a_sandbox_bngbank_client_tls.key
BNG_SIGN_CER=auth/xs2a_sandbox_bngbank_client_signing.cer
BNG_SIGN_KEY=auth/xs2a_sandbox_bngbank_client_signing.key

SPA_BNG_CALLBACK_REDIRECT_URL=https://our-spa.nl/bng-success
SPA_REQUEST_NEW_PASSWORD_URL=https://our-spa.nl/request-new-password
SPA_RESET_PASSWORD_URL=https://our-spa.nl/reset-password/{token}
EMAIL_SERVICE_AMSTERDAM=medewerker@amsterdam.nl

DOMAIN_NAME=54bf-217-100-147-124.ngrok-free.app