BNG_URI_FORMAT=""
BNG_CLIENT_ID=your-id
BNG_KEYID_FDN=your-fully-distinguished-name
BNG_TLS_CER=auth/open_poen_bng.cert
BNG_TLS_KEY=auth/open_poen_bng.key
BNG_SIGN_CER=auth/open_poen_bng.cert
BNG_SIGN_KEY=auth/open_poen_bng.key

SPA_BNG_CALLBACK_REDIRECT_URL=https://our-spa.nl/bng-success
SPA_REQUEST_NEW_PASSWORD_URL=https://our-spa.nl/request-new-password
SPA_RESET_PASSWORD_URL=https://our-spa.nl/reset-password/{token}
EMAIL_SERVICE_AMSTERDAM=medewerker@amsterdam.nl

DOMAIN_NAME=c5ba-217-100-147-124.ngrok-free.app
